@listWidth: 300px;
@editWidth: 300px;
@primary: rgb(48, 115, 240);
.home-container {
  position: relative;
  background-color: #eee;
  height: 100vh;
  .component-list-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: @listWidth;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    .component-list-item {
      position: relative;
      margin-top: 10px;
      width: 80%;
      min-height: 100px;
      line-height: 40px;
      font-size: 16px;
      text-align: center;
      border: 1px solid @primary;
      background-color: #fff;
      z-index: 10;
      &:hover {
        box-shadow: 0 0 10px 0px black;
      }
      &.moveDom {
        opacity: 0.8;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: move;
      }
      .name {
        position: absolute;
        width: 60px;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        color: white;
        background-color: @primary;
      }
      .preview {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .workbanch-container {
    position: absolute;
    top: 0;
    bottom: 0px;
    left: @listWidth;
    right: @editWidth;
    background-color: #fff;
    border: 1px solid;
    .component-item {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: move;
      }
    }
    .workbanch-utils-container {
      position: fixed;
      padding: 0 10px;
      z-index: 100;
      bottom: 0;
      height: 30px;
      background-color: gray;
      border: 1px solid;
    }
  }
  .component-edit-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: @editWidth;
    background-color: #fff;
  }
}
